<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SharkFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D637D871C4C3E2D00206356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D637DA01C4C3E2D00206356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D637DAB1C4C3E2D00206356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
